<h1>Your Store</h1>

<a href="/rubyrecords/home">Home</a>

<div class="store-info">
  <p>Store name: <%= @store.name %></p>
  <p>Location: <%= @store.location %></p>
  <p>Total cash: <%= @store.cash %></p>
</div>
