<div class="about">

<h1>About</h1>

<p id="about">
  Ruby Records is a management application for record shops and music stores.
  <br>
  We keep track of your stores administrative details, inventory, and finances.
  <br>
  <br>
  <br>
  This project was completed as part of CodeClan's 16-week software <br>development course.
  It is built in Ruby, PostgreSQL and Sinatra.
</p>

</div>
