<div>
  <h1>Ruby Records</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1000px-Ruby_logo.svg.png"/>
  <p>Your records, recorded.</p>
</div>

<div>
  <p>Ruby Records makes managing your record store effortless and easy.</p>
</div>

<div><a href="/rubyrecords/albums">Inventory</div>
<div><a href="/rubyrecords/about">About</div>
<div><a href="/rubyrecords/store">Your Store</div>
