<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ruby Records</title>
    <link rel="stylesheet" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">
  </head>
  <body>
    <ul class "navbar">
      <li><a href="/rubyrecords">Home</a></li>
      <li><a href="/rubyrecords/albums">Your Albums</a></li>
      <li><a href="/rubyrecords/artists">Your Artists</a></li>
      <li><a href="/rubyrecords/store">Your Store</a></li>
      <li><a href="/rubyrecords/about">About</a></li>
      <form class="search" action="/rubyrecords/home" method="post">
        <label for="album_by_name"></label>
        <input class = "search-box" type="text" name="title" id="album_by_name" placeholder="Search...">
        <input class = "search-button" type="submit" value="Search">
      </form>
      <img class = "icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1000px-Ruby_logo.svg.png">
    </ul>
    <%= yield %>

<footer>
    <div id="footer_box">
      <div class="clearfix">
        <span style="float: left;">&copy; 2017 Ruby Records Management System</span>
        <span style="float: right;">Tel: 0131 346 0702</span>
      </div>
    </div>
    <br>
</footer>
  </body>
</html>
