<h1>Album details:</h1>

<form action="/albums" method="POST">
    <label for="title-field">Title:</label>
    <input type="text" name="title" id="title-field"/>
    <br>
    <label for="artist-field">Artist:</label>
    <input type="text" name="artist" id="artist-field"/>
    <br>
    <label for="genre-field">Genre:</label>
    <input type="text" name="genre" id="genre-field">
    <br>
    <label for="artwork-field">Artwork URL:</label>
    <input type="text" name="artwork" id="artwork-field">
    <br>
    <label for=""></label>
