.home {
  position: absolute;
  align-items: center;
  text-align: center;
  top: 200px;
  left: 535px;
}

p {
  font-family: 'PT Sans Caption', sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item {
  flex: 1;
  padding: 5px;
  max-width: 200px;
  min-width: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc0000;
}

li {
  font-family: 'PT Sans Caption', sans-serif;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  border-right: 10px black;
}

li a:hover {
  background-color: #800000;
}

.active {
  background-color:#4CAF50;
}

.search {
  position: absolute;
  font-family: 'PT Sans Caption', sans-serif;
  top: 20px;
  right: 100px;
  background: #e1e1e1;
}

.icon  {
  position: absolute;
  top: 10px;
  right: 10px;
  height: auto;
  width: 40px;
}

/* About page */

.about {
  margin-top: 75px;
}

#about {
  text-align: center;
  margin-top: 30px;
}

/* Store info */

#store-info {
  text-align: center;
  margin-top: 75px;
}

/* Not found search page */

#notfound1 {
  font-family: 'PT Sans Caption', sans-serif;
  text-align: center;
  margin-top: 200px;
}

#notfound2 {
  font-family: 'PT Sans Caption', sans-serif;
  text-align: center;
  margin-top: 30px;
}

#notfound3 {
  font-family: 'PT Sans Caption', sans-serif;
  text-align: center;
  margin-left: 600px;
}

#notfound4 {
  position: absolute;
  top: 50%;
}

/* Albums/Artists display pages */

.index {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.index a {
  font-family: 'PT Sans Caption', sans-serif;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}


.index a:visited {
  text-decoration: none;
  color: #cc0000
}

h1 {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
}

img {
  display: block;
  margin: auto;
  width: 100px;
}

.grid {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin: 1px 90px 1px 90px;
  justify-content: space-between;

}

.grid-item {
  position: relative;
  border: 2px solid red;
  margin-bottom: 20px;
  flex: 1;
  padding: 5px;
  max-width: 320px;
  min-width: 300px;
  max-height: 560px;
  min-height: 560px;
}

.grid-item img {
  min-height: 160px;
  max-height: 160px;
  width: auto;
  padding-top: 20px;
}

.grid-item a {
  font-family: 'PT Sans Caption', sans-serif;
  text-decoration: none;
  color: #cc0000;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  margin-left: 23px;
  margin-bottom: 10px;
}

.grid-item form {
  margin-left: 116px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.grid-item p {
  text-align: left;
  margin-left: 1px;
}

.grid-item td {
  font-family: 'PT Sans Caption', sans-serif;
  padding-top: 8px;
}

.grid-item tr {
  margin-top: 15px;
  margin-left: 1px;
}

.grid-item table {
  margin-left: 57px;
  padding-top: 5px;
  padding-bottom: 9px;
}

.grid-a {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin: 1px 70px 1px 70px;
  justify-content: left;
}

.grid-item-a {
  border: 2px solid red;
  margin-bottom: 20px;
  flex: 1;
  padding: 5px;
  max-width: 375px;
  min-width: 375px;
  max-height: 100px;
  min-height: 100px;
}

#album-info {
  position: absolute;
  left: 0px;
}

#album-action {
  position: absolute;
  bottom: 10px;
}

#grid-a-p {
  padding-left: 10px;
}

#artists {
  margin-left: 30px;
}

#artist_name {
  margin-left: 20px;
}

#manage_stock {
  font-family: 'PT Sans Caption', sans-serif;
  text-align: center;
  text-decoration: bold;
  color: #cc0000;
  margin-top: 10px;
}

#manage_stock:visited {
  text-decoration: none;
  color: #cc0000
}

/* Stock page */


.stock-wrap {
  margin-top: 80px;
  text-align:center;
  font-family: 'PT Sans Caption', sans-serif;
}

.stock-wrap table{
  margin:auto;
  font-family: 'PT Sans Caption', sans-serif;
}

/* New/Edit Album pages */

.new_album {
  width: 22%;
  height: 10px;
  padding: 10px;
  font-family: 'PT Sans Caption', sans-serif;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.new_album_form {
  margin-left: 30px;
}

.new_album_label {
  font-family: 'PT Sans Caption', sans-serif;
}

.edit_album_form {
  margin-left: 30px;
}

.edit_album_label {
  font-family: 'PT Sans Caption', sans-serif;
}

.edit_album {
  width: 22%;
  height: 10px;
  padding: 10px;
  font-family: 'PT Sans Caption', sans-serif;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/* Order/Pay/Buy pages */

.order_more {
  margin-left: 30px;
  color: #cc0000
}

.order_more:visited {
  text-decoration: none;
  color: #cc0000;
}

#order_form {
  margin-top: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  margin-left: 30px;

}

#order_label {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 15px;

}

#order_input {
  font-family: 'PT Sans Caption', sans-serif;
  margin-top: 10px;
}

#order_button {
  margin-top: 10px;
}

#pay_p {
  font-family: 'PT Sans Caption', sans-serif;
  text-align: none;
  margin-left: 30px;
}

#pay_cancel {
  font-family: 'PT Sans Caption', sans-serif;
  margin-left: 30px;
}

#pay_cancel:visited {
  text-decoration: none;
  color: #cc0000;
  margin-left: 30px;
}

#pay_form {
  margin-left: 30px;
}

#pay_label {
  font-family: 'PT Sans Caption', sans-serif;
}

#pay_input {
  font-family: 'PT Sans Caption', sans-serif;
  width: 70px;
}

#pay_submit {
  font-family: 'PT Sans Caption', sans-serif;
  width: 100px;
}

#buy {
  font-family: 'PT Sans Caption', sans-serif;
  text-align: left;
}

#buy_p {
  font-family: 'PT Sans Caption', sans-serif;
  margin-top: 100px;
  margin-left: 30px;
}

#buy_a {
  font-family: 'PT Sans Caption', sans-serif;
  margin-top: 100px;
  margin-left: 30px;
}

/*footer*/

#footer_box {
  margin-top: 640px;
  margin-left: 5px;
  margin-right: 5px;
}
