<h1>Album details</h1>

<form class = "new_album_form" action="/rubyrecords/albums" method="POST">
  <label class= "new_album_label" for="title-field">Title:</label><br>
    <input class="new_album" type="text" name="title" id="title-field"/>
<br>
  <label class= "new_album_label" for="artist-field">Artist:</label><br>
    <input class="new_album" type="text" name="artist" id="artist-field"/>
<br>
  <label class= "new_album_label" for="genre-field">Genre:</label><br>
    <input class="new_album" type="text" name="genre" id="genre-field">
<br>
  <label class= "new_album_label"for="artwork-field">Artwork:</label><br>
    <input class="new_album" type="text" name="artwork" id="artwork-field">
<br>
  <label class= "new_album_label" for="sold-field">Sold:</label><br>
    <input class="new_album" type="number" name="sold" id="sold-field">
<br>
  <label class= "new_album_label" for="current-stock-field">Current Stock:</label><br>
    <input class="new_album" type="number" name="current_stock" id="current-stock-field">
<br>
  <label class= "new_album_label" for="target-stock-field">Target Stock:</label><br>
    <input class="new_album" type="number" name="target_stock" id="target-stock-field">
<br>
  <label class= "new_album_label" for="buy-price-field">Buy Price:</label><br>
    <input class="new_album" type="number" name="buy_price" id="buy-price-field">
<br>
  <label class= "new_album_label" for="sell-price-field">Sell Price:</label><br>
    <input class="new_album" type="number" name="sell_price" id="sell-price-field">
<br>
  <input type="submit" value="Update"/>
</form
