<h3 id="notfound1">Album not found.</h3>
<h3 id="notfound2">Would you like to create it?</h3>
<div id="notfound3">
<form id="notfound4" action = "/rubyrecords/albums/new" method= "GET">
  <input type="submit" value="Create"/>
</form>
</div>
